<link rel="stylesheet" href="/css/project_details.css">
<div id="main_container">
    <div class="heading">
        <h1>
            <%= project_details.name %>
        </h1>
        <p>
            <%= project_details.author %>
        </p>
    </div>
    <div class="information">
        <p>
            <%= project_details.description %>
        </p>
    </div>
    <div class="operations">
        <div class="search_box">
            <div class="desc_title_search">
                <textarea name="title_desc_search" id="" cols="10" rows="30"
                    placeholder="Title or Description search..."></textarea>
            </div>
            <div class="author_search">
                <textarea name="author_search" id="" cols="10" rows="30" placeholder="Author search..."></textarea>
            </div>
            <div class="label_search">
                <div class="label_container">
                    <label for="ch1">Checkbox1</label>
                    <input type="checkbox" name="" id="ch1">
                    <label for="ch2">Checkbox2</label>
                    <input type="checkbox" name="" id="ch2">
                    <label for="ch3">Checkbox3</label>
                    <input type="checkbox" name="" id="ch3">
                    <label for="ch1">Checkbox1</label>
                    <input type="checkbox" name="" id="ch1">
                    <label for="ch2">Checkbox2</label>
                    <input type="checkbox" name="" id="ch2">
                    <label for="ch3">Checkbox3</label>
                    <input type="checkbox" name="" id="ch3">
                    <label for="ch1">Checkbox1</label>
                    <input type="checkbox" name="" id="ch1">
                    <label for="ch2">Checkbox2</label>
                    <input type="checkbox" name="" id="ch2">
                    <label for="ch3">Checkbox3</label>
                    <input type="checkbox" name="" id="ch3">
                </div>
            </div>
            <button type="submit"> Search </button>
        </div>
        <div class="bugs_container">
            <% if(project_details.issue.length==0){ %>
                <h1>No Bugs Reported</h1>
                <h1>
                    <%= project_details.id %>
                </h1>
                <% }else{ %>
                    <% for(bug of project_details.issue) {%>
                        <div class="bug" id="issue_<%= bug.id %>">
                            <div class="bug_head">
                                <div class="bug_title">
                                    <%= bug.title %>
                                </div>
                                <!-- Print bug labels and take note of them in project db -->
                                <div class="bug_author">
                                    <%= bug.author %>
                                </div>
                            </div>
                            <div class="divide">
                                <div class="bug_description">
                                    <%= bug.description %>
                                </div>
                                <div class="del_button" onclick="close_issue('<%= bug.id %>')">X</div>
                            </div>
                        </div>
                        <% } %>
                            <% } %>

                                <button type="submit" onclick="toggle_form()"><span>+</span></button>
        </div>
    </div>

</div>

<div class="new_issue_form_container" id="get_form">
    <span onclick="toggle_form()">X</span>
    <form action="/issues/create" method="POST" id="new_issue_form" autocomplete="off">
        <input type="text" name="name" id="name" placeholder="Title..." required><br>
        <textarea name="description" id="" cols="23" rows="2" placeholder="Description..." required></textarea>
        <input type="text" name="author" id="author" placeholder="Author..." required><br>
        <input type="text" name="labels" id="labels" placeholder="Enter Labels...">
        <input type="hidden" name="project_id" id="" value="<%= project_details.id %>">
        <div class="search_suggest">
            <ul>
            </ul>
        </div>
        <div id="display_labels">
        </div>
        <button type="submit">Create Issue</button>
    </form>

</div>

<script src="/js/project_details.js"></script>